<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <nav>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'create_account' %}">Create a new Account</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </nav>
        </header>
        <h1>Account List</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
            {% for account in account_list %}
            <tr>
                <td>
                    {{ account.name }}
                </td>
                <td>
                    {{ account.number }}
                </td>
                <td>
                    {{ account.receipts.count }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
