<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <nav>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                <a href="{% url 'category_list' %}">Expense Categorys</a>
                <a href="{% url 'account_list' %}">Accounts</a>
                <a href="{% url 'create_account' %}">Create a new Account</a>
                <a href="{% url 'create_category' %}">Create a new Expense Category</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </nav>
        </header>
        <h1>My Receipts</h1>
        <table>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
            {% for receipt in receipt_list %}
            <tr>
                <td>
                    {{ receipt.vendor }}
                </td>
                <td>
                    {{ receipt.total }}
                </td>
                <td>
                    {{ receipt.tax }}
                </td>
                <td>
                    {{ receipt.date|date:"m/d/y" }}
                </td>
                <td>
                    {{ receipt.category.name }}
                </td>
                <td>
                    {{ receipt.account.name }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
